<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Abarrotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botón para ir al inicio utilizando la función -->
  <ion-button (click)="goToHome()" color="primary" expand="full" style="margin: 10px 0;">
    Ir a Inicio
  </ion-button>

  <!-- Mostrar los productos de la categoría Abarrotes -->
  <ion-list>
    <ion-item *ngFor="let product of abarrotes">
      <ion-avatar slot="start">
        <img [src]="product.img" *ngIf="product.img" />
      </ion-avatar>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.desc }}</p>
        <p>Descuento: {{ product.descuento }}</p>
        <p>Precio: {{ product.precionodes }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
