<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lácteos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="volver-btn-container">
    <ion-button class="volver-btn" (click)="goToHome()" expand="full">
      Volver a Inicio
    </ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let product of lacteos" (click)="goToVistaprod(product)">
      <ion-avatar slot="start">
        <img [src]="product.img" *ngIf="product.img" />
      </ion-avatar>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.desc }}</p>
        <p>Descuento: {{ product.descuento }}%</p>
        <p>Precio original: {{ product.precionodes }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
