<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        Ir al inicio
      </ion-button>
    </ion-buttons>
    <ion-title>Panel de Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" color="primary" >
    CRUD PRODUCTOS
  </ion-button>
  <ion-button expand="block" color="secondary" >
    CRUD USUARIOS
  </ion-button>
  <ion-button expand="block" color="tertiary" >
    CRUD SUPERMERCADOS
  </ion-button>
</ion-content>
