<ion-header>
  <ion-toolbar style="color: blue;">
    <ion-title>
      Home Descuentazo APP
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/perfil">Perfil</ion-item>
      <ion-item routerLink="/favpage">Favoritos</ion-item>
      <ion-item routerLink="/lacteos">Lácteos</ion-item>
      <ion-item routerLink="/verduras">Verduras</ion-item>
      <ion-item routerLink="/frutas">Frutas</ion-item>
      <ion-item routerLink="/abarrotes">Abarrotes</ion-item>
      <ion-item routerLink="/fiambreria">Fiambrería</ion-item>
      <ion-item routerLink="/panaderia">Panadería</ion-item>
      <ion-item routerLink="/login" slot="start">Cerrar sesión</ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content">
  <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm"></ion-searchbar>
  <ion-button expand="block" color="primary" (click)="onSearch()">Buscar</ion-button>

  <div *ngIf="errorMessage" class="error-message">
    <ion-text color="danger">
      <p>{{ errorMessage }}</p>
    </ion-text>
  </div>

  <ion-grid>
    <h2 class="section-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px; text-align: center;">
      Recomendados
    </h2>
    <ion-row>
      <ion-col size="12" *ngFor="let item of recomendados">
        <ion-card class="custom-card">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img [src]="item.img" alt="Producto recomendado" />
            </ion-thumbnail>
            <ion-label>
              <h3 style="font-size: 16px; font-weight: bold;">{{ item.nombre }}</h3>
              <p style="font-size: 14px;">Precio original: {{ item.precio }}</p>
              <p style="font-size: 14px; color: red;">Con 10% de descuento: {{ calcularPrecioDescuento(item.precio) }}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <h2 class="section-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 25px; text-align: center;">
      Ofertas del día
    </h2>
    <ion-row>
      <ion-col size="12" *ngFor="let oferta of ofertas">
        <ion-card class="custom-card">
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img [src]="oferta.img" alt="Oferta del día" />
            </ion-thumbnail>
            <ion-label>
              <h3>{{ oferta.nombre }}</h3>
              <p>{{ oferta.precios }}</p>
              <p style="font-size: 14px;">Precio original: {{ oferta.precios }}</p>
              <p style="font-size: 14px; color: red;">Con 10% de descuento: {{ calcularPrecioDescuentos(oferta.precios) }}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToFavoritos()">
      <ion-icon name="star"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
